<% include ../partials/head.ejs %>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2 class="text-success text-center">NodeJS Mailer using RabbitMQ</h2>
<p>Queue messages will be displayed below:</p><br>

</div>
</div>
</div>

<% include ../partials/foot.ejs %>
