<% include ./partials/head.ejs %>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2 class="text-success text-center mb-5">NodeJS Mailer using RabbitMQ</h2>
<p>Queue messages will be displayed below:</p><br>
<div class='alert alert-success text-white'>
<%= result %>
</div>
</div>
</div>
</div>

<% include ./partials/foot.ejs %>
